
@using TeaManagement.Enums
@model List<TeaManagement.Dtos.StakeholderReportDto>

@{
    ViewData["Title"] = "Supplier Report";
}

<div class="container mt-5 ">
    <div class="card shadow row justify-content-center ">
        <div class="scrollable">

            <table class="table table-bordered table-striped ">
                <thead style="position: sticky; background: #fff; z-index: 10;   top: 0;">
                <tr>
                    <th width="50px">SN</th>
                    <th>Supplier Name</th>
                    <th width="200px"> Address</th>
                    <th> Email</th>
                    <th width="150px"> Contact No</th>
                    <th width="100px">Status</th>
                    <th width="100px">Action</th>
                </tr>
                </thead>

                <tbody>
                @{
                    int sn = 1;
                }
                @foreach (var f in Model)
                {
                    <tr>
                        <td>@sn</td>
                        <td>@f.StakeholderName</td>
                        <td>@f.Address</td>
                        <td>@f.Email</td>
                        <td>@f.ContactNo</td>
                        @if (f.Status == (int)Status.Active)
                        {
                            <td class="text-success">Active</td>
                        }
                        else
                        {
                            <td class="text-danger">Inactive</td>
                        }
                        <td>
                            @if (f.Status == (int)Status.Active)
                            {
                                <a asp-route-isSupplier="@f.IsSupplier" asp-route-stakeholderId="@f.StakeholderId"
                                   asp-action="DeactivateStakeholder">
                                    <button class="btn btn-danger btn-sm"
                                            onclick="return confirm('Are you sure')">Deactivate
                                    </button>
                                </a>
                            }
                            else
                            {
                                <a class="btn disabled-link btn-secondary btn-sm"
                                >No Action</a>
                            }
                        </td>
                    </tr>
                    sn++;
                }
                </tbody>


            </table>
        </div>
    </div>
</div>